<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"href="/public/login.css">
    <script type="text/javascript">
      function login(){
      
      }
    </script>
  </head>
  <body>
    <form action="/act_login" method="post">
     <table class="login">
      <div><th><h2 class="head2">login<h2></th></div>
       <tr>
         <td>
         <label>User Email :</label><div id="box2"><input type="email" name="email" required></input></div>
         </td>
       </tr>
       <tr>
        <td>
          <label>Mobile no. :</label><div id="box2"><input type="text" name="number" required></input></div>
        </td>
      </tr>
       <tr>
        <td>
          <label>User Password :</label><div id="box2"><input type="password" name="password" required></input></div>
        </td>
      </tr>
      <tr><td><input class="btn_login" type="submit" value="OK" onclick="login()"></td></tr>
     </table>
     </form>
  </body>
</html>
