<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"href="/public/overview.css">
  </head>
  <body>
    <h1 class="h1_view">public Opinion</h1>
    <div class="opinion_contaner">     


      <div class="comant_area">
     <input type="textarea" class="comant_area_text" name="comant_area" rows="50" cols="20"></textarea><br>
     <input type="text" class="in_text"><br>
     <input type="submit" value="post" >
     </div>
    </div> 
  </body>
</html>
