<!DOCTYPE html>
<html>
<head>
    <!-- <script rel="text/javascript" href="/static/test.js"></script> -->
    <link rel="stylesheet" href="/public/food.css">
</head>

<body>
    <form action="/reg_uplodeprofile_part" method="post" enctype="multipart/form-data">
      <div class="sailor_up_gallary">
          <img src= "" id="sail_img"> 
          <input type="file" name="image_file2" id="image_file">
      
        <p class="up_text">Ente The Name of Your Product</p><input type="text" name="your_dp" id="your_dp" ></input>
        <p class="up_text">Ente The Price of Your Product</p><input type="text" name="your_price" id="your_dp"></input>
        <p class="up_text">Ente The Discount Percentage of Your Product</p><input type="text" name="your_desc" id="your_dp" ></input>
        <br>
        <input type="submit" id="img_input" class="img_input">Uplode Image</input>
        <!-- <button type="button" id="img_input" class="img_input">Edit Image</button>
        <button type="button" id="img_input" class="img_input">Delete Image</button> -->
      </div>  
    </form>

</body>    
</html>