<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/food.css">
</head>

<body>
    <input type="text" placeholder="Yout Soap Name"></input>
    <input type="text" placeholder="your Phone number"></input>
    <input type="text" placeholder="pin code"></input>
    <input type="text" placeholder="house no."></input>
    <input type="text" placeholder=" Full Address"></input>
    <input type="text" placeholder="State"></input>
    <input type="text" placeholder=" destric"></input>
    <input type="text" placeholder="action number"></input>
    <input type="text" placeholder="Acount holder Nmae"></input>
    <input type="text" placeholder="GST No."></input>
    <input type="text" placeholder="Soap Licence No."></input> 
    <input type="text" placeholder=""></input>
    <input type="text" placeholder=""></input>

</body>
</html>